In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [6]:
# Read the data from Excel and removed unnecessary columns 

df = pd.read_excel('data_crss.xlsx')
df = df.drop('Name', axis = 1)
df = df.drop('Semester', axis = 1)
df = df.drop('Course Code', axis = 1)
df.head()

,Course Title,RollNo,Program,Department,Year
0,Special Topics: Foundations of User Experience,16110168,B.Tech (JEE),Mechanical Engineering,Seventh Year First Semester
1,"Humanism, Anti-humanism, and Posthumanism",17110034,M.Sc (Regular),Cognitive Sciences,Sixth Year First Semester
2,Literary Experiment In European Modernism,17110034,M.Sc (Regular),Cognitive Sciences,Sixth Year First Semester
3,Special Topics in HSS: Abnormal Psychology,17110034,M.Sc (Regular),Cognitive Sciences,Sixth Year First Semester
4,Research Methods in Humanities and Social Scie...,18110006,B.Tech (JEE),Comp Science & Engg,Fifth Year First Semester

In [7]:
# Created a copy of dataframe df_cp

df_cp = df.copy()

In [8]:
# Defined a usr for which we want to recommend some courses 

usr = {'Course Title': 'Special Topics in Management', 'RollNo': '20110072', 'Program' : 'B.Tech (JEE)', 'Department' : 'Comp Science & Engg', 
        'Year': 'Fourth Year Second Semester'}
usr

{'Course Title': 'Special Topics in Management',
 'RollNo': '20110072',
 'Program': 'B.Tech (JEE)',
 'Department': 'Comp Science & Engg',
 'Year': 'Fourth Year Second Semester'}

In [9]:
'''Stored above user in the dataframe df_cp so we can calculate his similarity from all other users 
   who have done the courses '''

df_cp = df_cp.append(usr, ignore_index = True)
df_cp

/var/folders/f6/fxkj6h8x0g966dmvsxdmx2_r0000gn/T/ipykernel_11001/4225473345.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cp = df_cp.append(usr, ignore_index = True)

,Course Title,RollNo,Program,Department,Year
0,Special Topics: Foundations of User Experience,16110168,B.Tech (JEE),Mechanical Engineering,Seventh Year First Semester
1,"Humanism, Anti-humanism, and Posthumanism",17110034,M.Sc (Regular),Cognitive Sciences,Sixth Year First Semester
2,Literary Experiment In European Modernism,17110034,M.Sc (Regular),Cognitive Sciences,Sixth Year First Semester
3,Special Topics in HSS: Abnormal Psychology,17110034,M.Sc (Regular),Cognitive Sciences,Sixth Year First Semester
4,Research Methods in Humanities and Social Scie...,18110006,B.Tech (JEE),Comp Science & Engg,Fifth Year First Semester
...,...,...,...,...,...
2810,Introduction to Marketing,20520032,M.A (Regular),Humanities and Social Science,First Year Second Semester
2811,Business Skills for Entrepreneurs,20560001,Part-time Non-Degree (P.G. Level),Humanities and Social Science,First Year Second Semester
2812,Indian Systems of Ethics,20570007,M.Sc (Early Admit),Physics,First Year Second Semester
2813,Sanskrit Literature,20110049,B.Tech (JEE),Chemical Engineering,Third Year Second Semester
2814,Special Topics in Management,20110072,B.Tech (JEE),Comp Science & Engg,Fourth Year Second Semester

In [10]:
# set the index of dataframe to roll no 

df_cp = df_cp.set_index('RollNo')
df_cp

,Course Title,Program,Department,Year
RollNo,,,,
16110168,Special Topics: Foundations of User Experience,B.Tech (JEE),Mechanical Engineering,Seventh Year First Semester
17110034,"Humanism, Anti-humanism, and Posthumanism",M.Sc (Regular),Cognitive Sciences,Sixth Year First Semester
17110034,Literary Experiment In European Modernism,M.Sc (Regular),Cognitive Sciences,Sixth Year First Semester
17110034,Special Topics in HSS: Abnormal Psychology,M.Sc (Regular),Cognitive Sciences,Sixth Year First Semester
18110006,Research Methods in Humanities and Social Scie...,B.Tech (JEE),Comp Science & Engg,Fifth Year First Semester
...,...,...,...,...
20520032,Introduction to Marketing,M.A (Regular),Humanities and Social Science,First Year Second Semester
20560001,Business Skills for Entrepreneurs,Part-time Non-Degree (P.G. Level),Humanities and Social Science,First Year Second Semester
20570007,Indian Systems of Ethics,M.Sc (Early Admit),Physics,First Year Second Semester
20110049,Sanskrit Literature,B.Tech (JEE),Chemical Engineering,Third Year Second Semester
20110072,Special Topics in Management,B.Tech (JEE),Comp Science & Engg,Fourth Year Second Semester

In [11]:
''' Created a feature which has Program and department of student and year in which he/she had done HSS courses  
    and title and course code of the course '''

df_cp['feature'] = df_cp['Program'] +  df_cp['Department'] + df_cp['Course Title'] + df_cp['Year']
df_cp['feature'] = df_cp['feature'].str.lower()

''' We don't need the Program, Department, Year and Course Title attribute '''

df_cp = df_cp.drop('Program', axis = 1)
df_cp = df_cp.drop('Department', axis = 1)
df_cp = df_cp.drop('Course Title', axis = 1)
df_cp = df_cp.drop('Year', axis = 1)
df_cp

                                                    feature
RollNo
16110168  b.tech (jee)mechanical engineeringspecial topi...
17110034  m.sc (regular)cognitive scienceshumanism, anti...
17110034  m.sc (regular)cognitive sciencesliterary exper...
17110034  m.sc (regular)cognitive sciencesspecial topics...
18110006  b.tech (jee)comp science & enggresearch method...
...                                                     ...
20520032  m.a (regular)humanities and social scienceintr...
20560001  part-time non-degree (p.g. level)humanities an...
20570007  m.sc (early admit)physicsindian systems of eth...
20110049  b.tech (jee)chemical engineeringsanskrit liter...
20110072  b.tech (jee)comp science & enggspecial topics ...

[2815 rows x 1 columns]

In [12]:
''' Using TF-IDF algorithm we converted feature column consisting of strings to vectors so that we can find 
   Cosine similarity  between them '''
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000,stop_words='english')
vectors = cv.fit_transform(df_cp['feature']).toarray()

In [13]:
# shape of vectors matrix 

vectors.shape

(2815, 474)

In [14]:
''' Calculated cosine similarity between vectors and stored them in similarity matrix after that converted it 
    into dataframe. Row 0 and column 1 in dataframe states the cosine similarity of user 0 to user 1 '''
    
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)
pd.DataFrame(similarity)

,0,1,2,3,4,5,6,7,8,9,...,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814
0,1.000000,0.210819,0.210819,0.300000,0.381385,0.400000,0.447214,0.600000,0.456435,0.400000,...,0.182574,0.163299,0.223607,0.200000,0.182574,0.223607,0.182574,0.210819,0.447214,0.500000
1,0.210819,1.000000,0.555556,0.527046,0.201008,0.421637,0.235702,0.210819,0.192450,0.316228,...,0.288675,0.258199,0.353553,0.316228,0.288675,0.353553,0.192450,0.333333,0.235702,0.210819
2,0.210819,0.555556,1.000000,0.527046,0.201008,0.210819,0.235702,0.210819,0.192450,0.316228,...,0.288675,0.258199,0.353553,0.316228,0.288675,0.353553,0.192450,0.333333,0.235702,0.210819
3,0.300000,0.527046,0.527046,1.000000,0.190693,0.200000,0.223607,0.500000,0.273861,0.600000,...,0.273861,0.244949,0.335410,0.300000,0.273861,0.335410,0.182574,0.316228,0.223607,0.300000
4,0.381385,0.201008,0.201008,0.190693,1.000000,0.572078,0.426401,0.381385,0.522233,0.190693,...,0.435194,0.544949,0.426401,0.381385,0.435194,0.426401,0.348155,0.201008,0.426401,0.572078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2810,0.223607,0.353553,0.353553,0.335410,0.426401,0.223607,0.250000,0.223607,0.204124,0.335410,...,0.714435,0.730297,0.750000,0.670820,0.714435,1.000000,0.510310,0.353553,0.375000,0.335410
2811,0.182574,0.192450,0.192450,0.182574,0.348155,0.182574,0.204124,0.182574,0.166667,0.182574,...,0.500000,0.521749,0.510310,0.456435,0.500000,0.510310,1.000000,0.288675,0.306186,0.273861
2812,0.210819,0.333333,0.333333,0.316228,0.201008,0.210819,0.235702,0.210819,0.192450,0.210819,...,0.288675,0.258199,0.353553,0.316228,0.288675,0.353553,0.288675,1.000000,0.353553,0.316228
2813,0.447214,0.235702,0.235702,0.223607,0.426401,0.447214,0.500000,0.447214,0.408248,0.223607,...,0.306186,0.273861,0.375000,0.335410,0.306186,0.375000,0.306186,0.353553,1.000000,0.559017
2814,0.500000,0.210819,0.210819,0.300000,0.572078,0.600000,0.447214,0.500000,0.730297,0.300000,...,0.273861,0.244949,0.335410,0.300000,0.273861,0.335410,0.273861,0.316228,0.559017,1.000000

In [18]:
# Heatmap

import seaborn as sns

sns.heatmap(similarity, cmap='Greys')

In [15]:
''' Function for calculating k nearest neighbors '''

def k_nearest_neighbors(A, u, k, sim_matrix):

    # u_index = A.index.get_loc(u)
    pa_ = pd.DataFrame(similarity[df_cp.index.get_loc(u)])
    # print(similarity[df_cp.index.get_loc(17110135)])
    if len(pa_.columns) == 1:
        data = {}
        tr =list(pa_[0])
        for i in range(len(tr)):
            data[i] = []
            data[i].append(tr[i])
        df_ = pd.DataFrame(data)
        k_nearest = np.argsort(df_.iloc[0])[::-1][1:k+1]

    # else: 
    #     pa_ = pa_.drop_duplicates()
    # # pa_.loc[0]
    # # k_nearest = np.argsort(sim_matrix[u_index])[::-1][1:k+1]
    #     k_nearest = np.argsort(pa_.iloc[0])[::-1][1:k+1]
    return A.index[k_nearest]

In [16]:
''' Calculated 20 nearest neighbors of given user which is usr and stored them in array called "ar" '''

usr = usr['RollNo']
ar = k_nearest_neighbors(df_cp, usr, 20, similarity)
ar = np.array(ar)
ar

/var/folders/f6/fxkj6h8x0g966dmvsxdmx2_r0000gn/T/ipykernel_11001/854580796.py:15: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  k_nearest = np.argsort(df_.iloc[0])[::-1][1:k+1]

array([18110025, 18110132, 18110159, 18110016, 18110041, 19110071,
       18110094, 18110013, 20110208, 17110041, 19110057, 19110095,
       19110105, 18110009, 17110021, 17110023, 18110190, 17110002,
       19110102, 19110097], dtype=object)

In [17]:
''' Made this dataframe because from this dataframe we can get the courses which was taken by 
    neighbors of usr  '''
    
cr = pd.read_excel('data_crs.xlsx')
cr = cr.drop('Program', axis = 1)
cr = cr.drop('Department', axis = 1)
cr = cr.drop('Name', axis = 1)
cr = cr.drop('Semester', axis = 1)
cr = cr.drop('Year', axis = 1)
cr

     Course Code                                       Course Title    RollNo
0         IN 491     Special Topics: Foundations of User Experience  16110168
1         HS 507          Humanism, Anti-humanism, and Posthumanism  17110034
2         HS 517          Literary Experiment In European Modernism  17110034
3     HS 691-III         Special Topics in HSS: Abnormal Psychology  17110034
4         HS 505  Research Methods in Humanities and Social Scie...  18110006
...          ...                                                ...       ...
2808      HS 644  Critical Perspectives On Sociology And Anthrop...  20520032
2809      HS 647             Literature, Theory and Social Contexts  20520032
2810      MS 401                          Introduction to Marketing  20520032
2811      MS 406                  Business Skills for Entrepreneurs  20560001
2812      HS 424                           Indian Systems of Ethics  20570007

[2813 rows x 3 columns]

In [18]:
''' Set the RollNo as index of dataframe '''

cr = cr.set_index('RollNo')
cr

         Course Code                                       Course Title
RollNo
16110168      IN 491     Special Topics: Foundations of User Experience
17110034      HS 507          Humanism, Anti-humanism, and Posthumanism
17110034      HS 517          Literary Experiment In European Modernism
17110034  HS 691-III         Special Topics in HSS: Abnormal Psychology
18110006      HS 505  Research Methods in Humanities and Social Scie...
...              ...                                                ...
20520032      HS 644  Critical Perspectives On Sociology And Anthrop...
20520032      HS 647             Literature, Theory and Social Contexts
20520032      MS 401                          Introduction to Marketing
20560001      MS 406                  Business Skills for Entrepreneurs
20570007      HS 424                           Indian Systems of Ethics

[2813 rows x 2 columns]

In [19]:
''' Earlier we stored the RollNo of neighbors in array "ar" Now using that array and above dataframe consisting 
    RollNo as indexes and attributes as Course Code and Course Title we took the courses taken by neigbors of usr 
    and stored them in list "crs". Currently our index is RollNo so we take all the courses that are taken 
    by the neighbor 'x'. there will be case that a user may had taken multiple courses and while finding cosine
    similarity and applying KNN we get the index of feature column which is most similar to the given user now after 
    that we convert this index to RollNo when we return in function k_nearest_neighbors. Doing this our system 
    will recommend also those courses which was taken by his/her neighbors after doing the course of similar interest
    for eg. interest of given user is in 'Ancient India' now his neighbor must have taken a course related to this 
    topic so it will recommend that course and also recommend that course which his/her neighbor had took after 
    doing the course related to Ancient India and we are looking for 20 neighbors other than recommending the course 
    of his/her interest it will also recommend the most popular courses that his/her neighbors had took after doing 
    this 'Ancient Indian Architecture' course. '''

''' Here we can modify our code now suppose we want that our recommendation system only recommended 
    courses based on the interest of usr(given user) then we don't set index of above dataframe to RollNo
    also we need to modify the return value of k_nearest_neighbors currently it will return the rollno 
    of neighbors instead it will return index of the user which is more similar to our usr(giver user)
    i.e neighbors then we access the courses taken by neighbors based on the normal indexes so this will avoid the 
    courses which was taken by the neighbor not similar to his/her interest '''

dum = []
crs = []
for i in np.array(cr.index):
    for j in ar:
        if i == j and i not in dum:
            dum.append(i)
            # print(i , j)
            crs.append(np.array(cr.loc[i]['Course Title']))

In [20]:
''' Here we stored the list of final courses that was taken by the neighbors of usr(giver user)
    and stored in the dictionary with key represents the course title and value represents the number of neighbors
    who had taken the course '''
    
final_course = []
for i in range(len(crs)):
    if crs[i].size == 1:
        final_course.append(crs[i].item())
    else:
        for j in range(crs[i].size):
            final_course.append(crs[i][j])
        # print(crs[i])
        # final_course.append(crs[i][j])
# dupl_ = list(cr.loc[usr]['Course Title'])
# res = [i for i in final_course if i not in dupl_]
res = final_course
dict_f = {}
for i in range(len(res)):
    if res[i] in dict_f.keys():
        dict_f[res[i]] += 1
    else:
        dict_f[res[i]] = 1
dict_f

{'Special Topics in Management: Entrepreneurship and New Ventures': 2,
 'Special Topics in Management: Social Media Marketing': 5,
 'When You Cannot Experiment: Social Science Methods': 2,
 'Engineering Entrepreneurship': 2,
 'Special Topics in Management: Product Management': 1,
 'Development Economics': 1,
 'Special Topics in HSS: Public Policy & Impact Evaluation': 1,
 'Special Topics in Management: Strategic Leadership': 4,
 'Special Topics in Management: Finance Management': 2,
 'Introduction to Archaeology': 1,
 'Special Topics in HSS: Epidemiology': 3,
 'Special Topics in HSS: Abnormal Psychology': 2,
 'Special topics in Management: Marketing Analytics': 2,
 'Business Communications': 2,
 'Harappan Civilization': 1,
 'Special Topics: Foundations of User Experience': 3,
 'Special Topics in HSS: Challenges in the Digital Society': 1,
 'Urdu Script and Poetry': 1,
 'Special Topics in Management: Alternative business models for sustainable development': 1,
 'Special Topics in HSS: Anthropology in the 21st Century': 1,
 'Introduction to Linguistics': 1,
 'Sanskrit Literature': 2,
 "India Through the Writer's Eye": 1,
 'Japan Studies': 1,
 'Special Topics in Management: Digital lnnovation and transformation for Enterprises': 3,
 'Business Skills for Entrepreneurs': 2,
 'Perspectives on Indian Civilization': 1,
 'Special Topics in Management: Business Risk Management': 3,
 'Ancient Indian Technology': 1,
 'Theories of social epidemiology': 1,
 'Special Topics in HSS: Social Media, Society and Politics': 1,
 'Principles of Business Management': 3,
 'Urdu Poetry Interpretation': 1,
 'Special Topics in HSS: Diversity Studies': 1,
 'Special Topics in HSS: Strategic Leadership': 1}

In [21]:
results = sorted(dict_f.items(), key=lambda x:x[1])
results

[('Special Topics in Management: Product Management', 1),
 ('Development Economics', 1),
 ('Special Topics in HSS: Public Policy & Impact Evaluation', 1),
 ('Introduction to Archaeology', 1),
 ('Harappan Civilization', 1),
 ('Special Topics in HSS: Challenges in the Digital Society', 1),
 ('Urdu Script and Poetry', 1),
 ('Special Topics in Management: Alternative business models for sustainable development',
  1),
 ('Special Topics in HSS: Anthropology in the 21st Century', 1),
 ('Introduction to Linguistics', 1),
 ("India Through the Writer's Eye", 1),
 ('Japan Studies', 1),
 ('Perspectives on Indian Civilization', 1),
 ('Ancient Indian Technology', 1),
 ('Theories of social epidemiology', 1),
 ('Special Topics in HSS: Social Media, Society and Politics', 1),
 ('Urdu Poetry Interpretation', 1),
 ('Special Topics in HSS: Diversity Studies', 1),
 ('Special Topics in HSS: Strategic Leadership', 1),
 ('Special Topics in Management: Entrepreneurship and New Ventures', 2),
 ('When You Cannot Experiment: Social Science Methods', 2),
 ('Engineering Entrepreneurship', 2),
 ('Special Topics in Management: Finance Management', 2),
 ('Special Topics in HSS: Abnormal Psychology', 2),
 ('Special topics in Management: Marketing Analytics', 2),
 ('Business Communications', 2),
 ('Sanskrit Literature', 2),
 ('Business Skills for Entrepreneurs', 2),
 ('Special Topics in HSS: Epidemiology', 3),
 ('Special Topics: Foundations of User Experience', 3),
 ('Special Topics in Management: Digital lnnovation and transformation for Enterprises',
  3),
 ('Special Topics in Management: Business Risk Management', 3),
 ('Principles of Business Management', 3),
 ('Special Topics in Management: Strategic Leadership', 4),
 ('Special Topics in Management: Social Media Marketing', 5)]

In [22]:
no_crs = min(10, len(dict_f.keys()))
# sum = 0
for i in range(no_crs):
    # sum += results[len(results)-1-i][1]
    print(results[len(results)-1-i][0], results[len(results)-1-i][1])
# sum

Special Topics in Management: Social Media Marketing 5
Special Topics in Management: Strategic Leadership 4
Principles of Business Management 3
Special Topics in Management: Business Risk Management 3
Special Topics in Management: Digital lnnovation and transformation for Enterprises 3
Special Topics: Foundations of User Experience 3
Special Topics in HSS: Epidemiology 3
Business Skills for Entrepreneurs 2
Sanskrit Literature 2
Business Communications 2

In [23]:
''' If we don't sort the dictionary with values than the first key in the dictionary will be course taken by first neighbor
    and so on. '''

results = list(dict_f.items())
results

[('Special Topics in Management: Entrepreneurship and New Ventures', 2),
 ('Special Topics in Management: Social Media Marketing', 5),
 ('When You Cannot Experiment: Social Science Methods', 2),
 ('Engineering Entrepreneurship', 2),
 ('Special Topics in Management: Product Management', 1),
 ('Development Economics', 1),
 ('Special Topics in HSS: Public Policy & Impact Evaluation', 1),
 ('Special Topics in Management: Strategic Leadership', 4),
 ('Special Topics in Management: Finance Management', 2),
 ('Introduction to Archaeology', 1),
 ('Special Topics in HSS: Epidemiology', 3),
 ('Special Topics in HSS: Abnormal Psychology', 2),
 ('Special topics in Management: Marketing Analytics', 2),
 ('Business Communications', 2),
 ('Harappan Civilization', 1),
 ('Special Topics: Foundations of User Experience', 3),
 ('Special Topics in HSS: Challenges in the Digital Society', 1),
 ('Urdu Script and Poetry', 1),
 ('Special Topics in Management: Alternative business models for sustainable development',
  1),
 ('Special Topics in HSS: Anthropology in the 21st Century', 1),
 ('Introduction to Linguistics', 1),
 ('Sanskrit Literature', 2),
 ("India Through the Writer's Eye", 1),
 ('Japan Studies', 1),
 ('Special Topics in Management: Digital lnnovation and transformation for Enterprises',
  3),
 ('Business Skills for Entrepreneurs', 2),
 ('Perspectives on Indian Civilization', 1),
 ('Special Topics in Management: Business Risk Management', 3),
 ('Ancient Indian Technology', 1),
 ('Theories of social epidemiology', 1),
 ('Special Topics in HSS: Social Media, Society and Politics', 1),
 ('Principles of Business Management', 3),
 ('Urdu Poetry Interpretation', 1),
 ('Special Topics in HSS: Diversity Studies', 1),
 ('Special Topics in HSS: Strategic Leadership', 1)]

In [25]:
''' Output of this code will be 10 courses that was taken by extremely nearest neighbor of usr(given user) 
    below output doesn't prioritize the popular course '''

no_crs = min(10, len(dict_f.keys()))
# sum = 0
for i in range(no_crs):
    # sum += results[len(results)-1-i][1]
    print(results[i][0], results[i][1])
# sum

Special Topics in Management: Entrepreneurship and New Ventures 2
Special Topics in Management: Social Media Marketing 5
When You Cannot Experiment: Social Science Methods 2
Engineering Entrepreneurship 2
Special Topics in Management: Product Management 1
Development Economics 1
Special Topics in HSS: Public Policy & Impact Evaluation 1
Special Topics in Management: Strategic Leadership 4
Special Topics in Management: Finance Management 2
Introduction to Archaeology 1